[submodule "src/github.com/containernetworking/plugins"]
	path = src/github.com/containernetworking/plugins
	url = https://github.com/containernetworking/plugins.git
[submodule "src/github.com/containernetworking/cni"]
	path = src/github.com/containernetworking/cni
	url = https://github.com/containernetworking/cni.git
[submodule "src/code.cloudfoundry.org/garden"]
	path = src/code.cloudfoundry.org/garden
	url = http://github.com/cloudfoundry/garden.git
[submodule "src/github.com/karampok/diktyo"]
	path = src/github.com/karampok/diktyo
	url = git@github.com:karampok/diktyo.git
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://go.googlesource.com/sys
